html, body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    color: black;
}

a {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

.content-wrapper {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
}

/* HEADER */

header .content-wrapper {
    height: 40px;
    display: flex;
    flex-direction: row;
    background: white;
    justify-content: space-between;
    margin-bottom: 15px;
}

header img {
    height: 100%;
    padding: 5px;
}

header nav {
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

header nav ul li {
    text-decoration: none;
    display: inline;
    margin: 0 5px;
    color: grey;
    font-size: 12px;
}

/* FOOTER */

footer .socials {
    background: rgb(0, 98, 189);
    color: rgb(248, 248, 248);
    font-size: 20px;
    font-weight: 100;
    height: 80px;
    padding-left: 75%;
}

footer .socials h4 {
    margin: 10px 0;
    padding-top: 10px;
    font-weight: 100;
}

footer .socials a {
    font-size: 24px;
    color: rgb(248, 248, 248);
    margin: 0 3px;
}

footer .copyright {
    background: rgb(0, 24, 68);
    color: white;
    height: 60px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*** HOME PAGE ***/

/* HERO SECTION */

.hero-search {
    height: 400px;
/*    background: url('/theme/hero_image.jpg') no-repeat;
    background-size: cover;
    background-position: center; */
}

.hero-search .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.hero-search img {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.hero-search .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: inherit;
}

.hero-search h1 {
    margin: 0;
    font-size: 1.75em;
    font-weight: 200;
}

.hero-search input {
    width: 500px;
    border-color: rgba(207, 207, 207, 0.795);
    border-radius: 5px;
    color:grey;
    font-size: 10px;
    padding: 5px;
}

.hero-search .search-home {
    background-color: rgb(0, 98, 189);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 35px;
    font-size: 8px;
}

/* OPPORTUNITIES SECTION */

.opportunities .content-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(248, 248, 248);
}

.opportunities h2 {
    font-size: 1.5em;
    color: gray;
    margin: 50px 0;
    font-weight: 100;
}

.opportunities .careers {
    width: 80%;
    display: flex;
    flex-direction: row;
    height: 250px;
}

.opportunities p {
    margin: 0;
    font-size: 0.5em;
    font-weight: 500;
}

.opportunities .careers .provider {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background: url('/theme/category-image-1.jpg');
    background-position: center;
}

.opportunities .careers .nursing {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background-image: url('/theme/category-image-2.jpg');
    background-position: center;
}

.opportunities .careers .browse {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background: rgb(0, 98, 189);
    color: white;
}

/* FEATURED JOBS SECTION */

.featured .content-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
}

.featured h3 {
    margin-top: 100px;
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 0;
}

.featured hr {
    width: 80px;
    background-color: rgb(4, 163, 255);
    height: 2px;
    margin-bottom: 20px;
}

.featured .job-descriptions {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.featured .job {
    box-shadow: 1px 1px 1px 1px rgb(148, 148, 148, 0.5);
    width: 20%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    height: 120px;
}

.featured .job h4 {
    color:rgb(4, 163, 255);
    margin: 0;
}

.featured .job i {
    margin: 3px 0;
    color: grey;
    font-size: 0.75em;
}

.featured button {
    width: 70%;
    background-color: white;
    border: none;
    text-align: left;
    padding: 15px;
    color:rgb(4, 163, 255);
    font-weight: 600;
    font-size: 0.75em;
    box-shadow: 1px 1px 1px 1px rgb(148, 148, 148, 0.5);
    margin-top: 40px;
    margin-bottom: 50px;
}

/* LOCATIONS */

.locations .content-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(248, 248, 248);
}

.locations h2 {
    color: grey;
    font-weight: 100;
}

.locations .city {
    position: relative;
    margin: 20px 0;
    width: 60%;
}

.locations .city h4 {
    color: black;
    font-size: 1.2em;
    font-weight: 100;
    margin-bottom: 10px;
}

.locations .city p {
    color: grey;
    font-size: 0.9em;
    line-height: 20px;
}

.locations img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}

.locations .description-left {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background-color: rgba(255,255,255,0.8);
    padding: 0 20px;
}

.locations .description-right {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background-color: rgba(255,255,255,0.8);
    padding: 0 20px;
}

/* JOIN US SECTION */

.join .content-wrapper {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgb(235, 235, 235);
}

.join .main-text {
    width: 25%;
}

.join h2 {
    color: grey;
    font-weight: 100;
}

.join p {
    color: grey;
    font-size: 0.8em;
    padding-right: 30px;
    margin-bottom: 30px;
}

.join button {
    background-color: rgb(0, 24, 68);
    border: none;
    color: white;
    font-size: 0.8em;
    padding: 10px;
    border-radius: 5px;
}

/* WORKING FOR SECTION */

.working .content-wrapper {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgb(248, 248, 248);
    padding: 20px 0;
    width: 100%;
    color: grey;
}

.working .main-text {
    padding-right: 100px;
    width: 50%;
}

.working .main-text h2 {
    font-weight: 100;
}

.working .main-text p {
    font-size: 0.8em;
    line-height: 1.5em;
}

.working .sidebar {
    height: 400px;
    width: 20%;
    border: 2px solid grey;
}

/*** JOB SEARCH PAGE ***/

/* HEADER EDITS */

header .search-for-jobs input {
    width: 40%;
    height: 25px;
    border-color: rgba(207, 207, 207, 0.795);
    border-radius: 5px;
    color:grey;
    font-size: 13px;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 20px;
}

header .search-for-jobs button {
    width: 15%;
    height: 40px;
    background-color: rgb(0, 98, 189);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 35px;
    font-size: 13px;
}

/* ASIDE - REFINE SEARCH BOX */

.job-search {
    width: 450px;
    color: grey;
    margin-right: 20px;
}

.job-search .title-search {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.job-search h3 {
    font-size: 1.2em;
    font-weight: 100;
    margin-right: 5px;
}

.job-search h4 {
    font-size: 1em;
    margin: 10px 0;
    font-weight: 100;
}

.job-search h5 {
    font-size: 0.8em;
    color: rgb(4, 163, 255);
}

.job-search hr {
    height: 2px;
    background: grey;
    margin: 0;
}

.job-search .category {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(218, 218, 218);
}

.job-search .drop-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
}

.job-search .drop-down-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    border-bottom: 1px solid rgb(218, 218, 218);
}

.job-search .drop-down h5 {
    align-self: flex-start;
    margin: 3px;
    font-weight: 100;
}

.job-search .drop-down h6 {
    margin: 5px;
    font-size: 0.7em;
    font-weight: 100;
}

.job-search .drop-down hr {
    height: 1px;
    background: rgb(218, 218, 218);
}

.job-search .join-box {
    margin-top: 30px;
    border: 1px solid grey;
    padding: 15px 30px;
    line-height: 25px;
}

.job-search .join-box button {
    border: none;
    border-radius: 5px;
    color: white;
    background: rgb(0, 24, 68);
    padding: 10px;
}

/* HEADLINE AREA */

.job-search-content {
    width: 100%;
}

.job-search-content h1 {
    color: grey;
    font-weight: 100;
}

.job-search-content .headline {
    position: relative;
}

.job-search-content .headline img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.job-search-content .headline .description {
    position: absolute;
    float: left;
    right: 50%;
    top: 0px;
    background: rgba(255, 255, 255, 0.589);
    height: 93%;
    padding: 10px 30px;
}

.job-search-content .headline .description p {
    line-height: 25px;
}

/* MAP */

/* JOB ALERT BUTTON */

.job-search-content .job-alert-button {
    border: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    height: 60px;
    margin-top: 30px;
}

.job-search-content .job-alert-button h4 {
    margin-left: 10px;
}

/* JOB LISTINGS */

.job-search-content .job-listings {

}