html, body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    color: black;
}

a {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

.content-wrapper {
    width: 100%;
    display: flex;
}

/* HEADER */

header .content-wrapper {
    height: 50px;
    display: flex;
    flex-direction: row;
    background: white;
    justify-content: space-between;
    margin-bottom: 30px;
}

header img {
    height: 100%;
    padding: 10px;
}

header nav {
    display: flex;
    justify-content: center;
}

header nav ul li {
    text-decoration: none;
    display: inline;
    margin: 0 5px;
    color: grey;
    font-size: 12px;
}


/* FOOTER */

footer .socials {
    background: rgb(3, 116, 221);
    color: white;
    font-size: 20px;
    font-weight: 100;
    height: 80px;
    padding-left: 80%;
}

footer .socials h4 {
    margin: 10px 0;
    padding-top: 10px;
}

footer .socials a {
    font-size: 24px;
    color: white;
}

footer .copyright {
    background: rgb(0, 24, 68);
    color: white;
    height: 50px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}